.homepage-container {
	max-width: 35rem;
	margin: 2rem auto;
	display: grid;
	padding: 1rem;
	grid-template-columns: 1fr 1fr;
	// prettier-ignore
	grid-template-areas: 
        "title title" 
        "desc desc" 
        "form form"
        "error error"
        "results results";

	.homepage-title {
		grid-area: title;
	}
	.homepage-description {
		grid-area: desc;
	}

	.error-message {
		grid-area: error;
		color: rgb(216, 78, 91);
		margin: 0 auto;
	}
}
